.contacts {
    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 4rem;

    .contacts-header {
        text-align: center;
        margin-bottom: 3rem;
    }

    .contacts-table {
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .ant-table-cell:last-child svg {
        font-size: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    .ant-table-cell:last-child {
        display: flex;
        justify-content: space-around;
        height: 60px;
        align-items: center;
    }
}

.ant-table-pagination-right {
    justify-content: center;
}